{
    "name":          "Octave Addons",
    "slug":          "octave-addons",
    "version":       "1.0.0",
    "last_updated":  "2026-04-23 10:00:00",
    "download_url":  "https://octaveagency.com/plugins/octave-addons/octave-addons.zip",
    "requires":      "5.8",
    "tested":        "6.5",
    "requires_php":  "7.4",
    "author":        "Octave Agency",
    "homepage":      "https://octaveagency.com",
    "sections": {
        "description": "A modular collection of Octave site add-ons.",
        "changelog":   "= 1.0.0 =\n* Initial release.\n"
    }
}
